<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{sbname}} - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script defer>
      function setline(elementID,percentage,maxPercentage) {
        const bstatPercentage = percentage;
        const bstatLine = document.getElementById(elementID);
        const bstatWidth = (bstatPercentage / maxPercentage) * document.querySelector('.stat-container').clientWidth;
        bstatLine.style.width = `${bstatWidth}px`;
        bstatLine.style.animation = 'grow 1s ease-in-out';
      }
      window.onload = () => {
        {% if validpass %}
        setline("friendline",{{ friendcount }},100);
        setline("blockedline",{{ blockcount }},50);
        setline("guildline",{{ servers }},100 * {{ hasnitro12 }});
        {% endif %}
      }
    </script>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
  </head>
  <body>
      <nav>
        <a href="/">Home</a>
        <a href="/settings">Settings</a>
        <a href="/functions">Functions</a>
      </nav>
    {% if validpass %}
          <h1>Welcome to {{ sbname }}, {{name}}</h1>
          <br>
    <h1>Friends added:</h1> 
    <div class="stat-container">
      <div class="stat-line" id="friendline"></div>
    </div>
    <h1>Blocked:</h1> 
    <div class="stat-container">
      <div class="stat-line slred" id="blockedline"></div>
    </div>
    <h1>Guilds:</h1>
    <div class="stat-container">
      <div class="stat-line slyellow" id="guildline"></div>
    </div>
<br>
    {% if motd %}
    <p>Motd: {{ motd }}</p>
    {% endif %}
    {% else %}
    <h1>You aren't logged in</h1>
      <label for="panelpassword">Enter your panel password to continue</label>
      <div onkeydown="keyDown(event)">
        <input type="password" required class="passwordInput" id="pass" />
        <button onclick="validate()" type="submit"">Log in</button>
      </div>
    {%endif%}
  </body>
</html>
