<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ sbname }} - Settings </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script>

      async function setSetting(settingName){
        // if its a checkbox then get the "checked" attribute
        if (document.getElementById(settingName).type == "checkbox") {
          var value = document.getElementById(settingName).checked;
        } else {
          var value = document.getElementById(settingName).value;
        }
        let res = await fetch("/api/setting/set/" + settingName,{
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            "password": "{{ sess }}",
            "value": value
          })
        })
        if(res.status == 500){
          alert("Please make sure you aren't inserting invalid characters (ex: Letters in number field)")
          return
        }
        let resp = await res.json()
        if(resp.status != "SUCCESS") {
          alert(resp.content) 
        }
      }
    </script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/settings">Settings</a>
        <a href="/functions">Functions</a>
    </nav>
        <h1 style="padding-top: 4px">Settings</h1>

    <div class="settingsContainer">

            <!-- Template tags are retained as they are placeholders for dynamic content -->
            {% for setting in settings.settings %}
            <div class="setting">
                <h2>{{ setting.name }}</h2>
                {% if setting.wtype == WidgetType.STRING %}
                <input class="settinginput" type="text" value="{{ setting.value }}" name="{{ setting.name }}" id="{{ setting.name }}"> 
                {% elif setting.wtype == WidgetType.NUMBER_FIELD %}
                <input class="settinginput" type="number" name="{{ setting.name }}" id="{{ setting.name }}" value="{{ setting.value }}">
                {% elif setting.wtype == WidgetType.NUMBER_SLIDER %}
                <p>1 slide step is {{ setting.options[3] }}</p>
                <input class="settinginput" type="range" name="{{ setting.name }}" id="{{ setting.name }}" value="{{ setting.value }}" min="{{ setting.options[0] }}" max="{{ setting.options[1] }}" step="{{ setting.options[2] }}">
                {% elif setting.wtype == WidgetType.BOOLEAN %}
                <input class="settinginput" type="checkbox" name="{{ setting.name }}" id="{{ setting.name }}" {% if setting.value %}checked{% endif %}>                 
                {% elif setting.wtype == WidgetType.RADIO_BUTTON %}
                  {% for opt in setting.options %}
        <input class="settinginput" type="radio" name="{{setting.name}}" id="{{setting.name}}" value="{{opt}}">
          <label for="{{setting.name}}">{{opt}}</label>
                  {% endfor %}
                {% endif %}

                <button type="submit" onclick="setSetting('{{ setting.name }}')">Set Setting</button>
            </div>
            {% endfor %}
    </div>
</body>
</html>
